.navdiv1 {
       position: fixed; 
       left: 20vw; 
       right: 0; 
       top: 0; 
       bottom: auto; 
       padding: 20px 0 0 0; 
}

.middel {
       display: flex; 
       align-items: center; 
       justify-content: center;
}