.navdiv1 {
       position: fixed; 
       left: 215px; 
       right: 0; 
       top: 0; 
       bottom: auto; 
       padding-top: 40px; 
       padding-bottom: 40px;
       padding: 25px 0px 25px 0px; 
}

.middel {
       display: flex; 
       align-items: center; 
       justify-content: center;
}