style

.corner5 {
    border-radius: 5px; /*round corner 5px*/
 }

.corner10 {
    border-radius: 10px; /*round corner 10px*/
}

.corner15 {
    border-radius: 15px; /*round corner 15px*/
}

.corner20 {
    border-radius: 20px; /*round corner 20px*/
}

.logo {
    margin-left: 15px;
    height: 10vh;
}

