@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@500&display=swap');
/* 
big
font-family: 'Audiowide', cursive;
smal
font-family: 'Raleway', sans-serif;
*/


/*body--------------------------------------------------------------------------------*/
body {
       margin: 0px; 
       background-color: #ecedef;
}

/*text and font-----------------------------------------------------------------------*/
a {
       font-family: Varela Round;
}

.fontb {
       font-family: 'Audiowide', cursive;
       text-decoration:none; 
       color: #333;  
}

.fonts {
       font-family: 'Raleway', sans-serif;
       text-decoration:none; 
       color: #333; }

.link{
       text-decoration:none; 
       color: #ffffff; 
       margin: 0px 25px 0px 25px; 
       font-weight: 700; 
       text-align: center;
}

.linkon{
       color: #ffffff; 
       margin: 0px 25px 0px 25px; 
       font-weight: 700; 
       text-align: center;
       text-decoration: underline;
       text-underline-offset: 5px;
}

.textr {
       text-align: right;
}
   
.textl {
       text-align: left;
}
   
.textc {
       text-align: center;
} 

.title {
       font-size: 35px;
}
@media (max-width: 1300px) {
       .title{
           font-size: 35px;   
       }
} 
 
.maintext{
       font-size: 20px;
       padding-left: 10px; 
       padding-right: 10px;
}
@media (max-width: 1300px) {
       .maintext{
           font-size: 20px;   
       }
} 

/*navigation--------------------------------------------------------------------------*/
.nav {
       position: fixed; 
       left: 0; 
       right: 0; 
       top: 0; 
       bottom: auto; 
       background-color: #242424e5; 
       z-index: 10;
       backdrop-filter: blur(5px);
       -webkit-backdrop-filter: blur(5px);
       font-size: 150%;
}
@media (max-width: 1300px) {
       .nav{
           font-size: 175%;   
       }
}
@media (max-width: 950px) {
       .nav{
           font-size: 3vw;   
       }
}

.navdiv1 {
       position: fixed; 
       left: 20vw; 
       right: 0; 
       top: 0; 
       bottom: auto; 
       margin-top: 10px; 
}
@media (max-width: 1300px) {
       .navdiv1{
             margin-top: 17.5px;
       }
} 
@media (max-width: 950px) {
       .navdiv1{
           margin-top: 20px;   
       }
}

/*photos------------------------------------------------------------------------------*/
.logo {
    margin-left: 15px;
    margin-top: 5px;
    height: 40px;
}
@media (max-width: 1300px) {
       .logo{
             height: 60px; 
       }
} 

/*posision and corner-----------------------------------------------------------------*/
.middel {
       display: flex; 
       align-items: center; 
       justify-content: center;
}

.corner5 {
    border-radius: 5px; /*round corner 5px*/
 }

.corner10 {
    border-radius: 10px; /*round corner 10px*/
}

.corner15 {
    border-radius: 15px; /*round corner 15px*/
}

.corner20 {
    border-radius: 20px; /*round corner 20px*/
}

/*efects------------------------------------------------------------------------------*/
.neumorphism {
       border-radius: 20px;
       background: #ecedef;
       box-shadow:  16px 16px 30px #a5a6a7,
                    -16px -16px 30px #ffffff;
}

/*div or buton------------------------------------------------------------------------*/
.project {
       margin-top: 150px;
       margin-left: 30%;
       margin-right: 30%;
       padding-top: 10px;
       padding-bottom: 10px;
       cursor: pointer;
       border-radius: 20px;
       background: #ecedef;
       box-shadow:  16px 16px 30px #a5a6a7,
                    -16px -16px 30px #ffffff;
       text-align: center; 
}

.project :hover {
       transition: all;
       transition-duration: 1s;
}

.box {
       margin-top: 150px;
       margin-left: 10%;
       margin-right: 10%;
       padding-top: 10px;
       padding-bottom: 10px;
}

.boxpro {
       margin-top: 150px;
       margin-left: 30%;
       margin-right: 30%;
       padding-top: 10px;
       padding-bottom: 10px;
       cursor: pointer;
}