.hamburger-icon-mob {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  right: 10px; 
  z-index: 1000;
}

  .bar {
    width: 40px;
    height: 5px;
    background-color: var(--white);
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }

  .hamburger-icon-mob.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 11px);
  }
  
  .hamburger-icon-mob.active .bar:nth-child(2) {
    transform: scaleX(0);
  }
  
  .hamburger-icon-mob.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -11px);
  }
  
  .menu-items-mob {
    list-style: none;
    padding-right: 1vw;
    padding-top: 40px;
    margin: 0;
    position: fixed;
    top: 75px;
    right: -130vw;
    width: auto;  
    background-color: var(black-50);
    height: 50vh;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 150px;
    border-left: 1px solid var(--white-70);
    border-bottom: 1px solid var(--white-70);
    padding-bottom: 35px;
  }

  .menu-items-mob.active {
    right: 0;
  }

  .menu-items-mob li {
    padding: 30px;
    border-radius: 20px;
    padding-right: 100px;
  }

  .menu-items-mob a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font);
    font-weight: bold;
    font-size: 15pt;
  }

  .logo-mob {
    position: relative;
    height: 50px;
    margin-left: 10px;
    padding-right: 10px;
    pointer-events: none;
  }
  
  .logo-mob::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  