:root {
  /* --font: 'Noto Sans', ui-sans-serif; */
  --p: 1rem;
  --h: 1.2rem;
  --white: #fff;
  --black: #000;
}
  
  label {
    font-size: 100000000px;
  }
  
  .hamburger-menu {
    /* position: fixed;
    display: flex;
    align-items: center; */
    padding: 10px;
    /* color: transparent; */
    /* background-color: var(--black-70); */
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px); */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
    /* z-index: 5; */
    /* font-size: var(--h); */
    font-family: var(--font);
  }
  
  .menu-items {
    list-style: none;
    margin: 0;
    top: 0;
    width: auto;
    display: flex;
    z-index: 1;
    transition: left 0.5s ease-in-out;
    flex-direction: row;
    height: auto;
  }
  
  .menu-items li {
    padding: 10px;
    border-radius: 20px;
    padding-right: 10px;
    margin: 0 10px 0 10px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: var(--white-70);
    font-family: var(--font);
    font-size: 30pt;
    font-size: 100%;
    font-weight: 600;
  }
  
  .menu-items a:hover {
    color: #ffffff;
  }
  
  .item1-on {
    color: var(--white) !important;
  }
  
  .item2-on {
    color: var(--white) !important;
  }
  
  .item3-on {
    color: var(--white) !important;
  }
  
  .item4-on {
    color: var(--white) !important;
  }
  
  .hamburger-icon {
    display: none;
  }
    
  .blur-middle {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
  
  .logo {
    position: relative;
    height: 40px;
    margin-bottom: -5px;
    pointer-events: none;
  }
  
  .logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
  }

  #guuslab-logo {
    fill: var(--white);
  }

  #guuslab-logo:hover {
    fill: var(--white-50);
  }

  .logo-div {
    transform: translateX(-60px);
    margin-left: 2.5vw;
  }



/* ---------------------- nav ---------------------- */


.hamburger-menu {
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  font-family: var(--font);
}

.menu-items-contaner {
  list-style: none;
  width: 240px;
  max-width: 240px;
  margin: 0;
  top: 0;
  width: auto;
  display: flex;
  z-index: 1;
  transition: left 0.5s ease-in-out;
  flex-direction: row;
  height: auto;
  overflow-y: scroll;
}


.hamburger-menu h2 {
  color: var(--primary);
  font-size: 7vw;
  margin-top: -15px;
  margin-left: -20px;
  cursor: pointer;
}



nav {
position: fixed;
top: 0;
width: 100vw;
height: 6rem;
display: flex;
padding: 0 2rem;
box-sizing: border-box;
z-index: 9998;
}

.backdrop {
width: 100vw;
height: 100%;
position: absolute;
z-index: 990;
top: 0;
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
background: rgba(0, 0, 0, 0.1);
mask-image: linear-gradient(rgba(0, 0, 0) 30%, rgb(0, 0, 0,5) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
-webkit-mask-image: linear-gradient(rgba(0, 0, 0) 30%, rgb(0, 0, 0,5) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
inset: -1rem 0;
}
