body {
margin: 0px; 
background-color: #f2f8ff;
}

.nav {
       position: fixed; 
       left: 0; 
       right: 0; 
       top: 0; 
       bottom: auto; 
       background-color: #242424; 
       z-index: 10;
}
