a {
       font-family: Varela Round;
}

.link{
       text-decoration:none; 
       color: #ffffff; 
       margin: 0px 25px 0px 25px; 
       font-weight: 700; 
       font-size: 150%;
       text-align: center;
}

.textr {
       text-align: right;
}
   
.textl {
       text-align: left;
}
   
.textc {
       text-align: center;
}

.hellotext {
       margin: 20vh;
}
