:root {
       --background: #333;
       --text: #ccc;
       --opjects: #1d1d1d;
}

body {
       background-color: var(--background);

}

.text {
       font-family: arial;
       color: var(--text);

}

.thing {
       padding: 40px;
       background-color: var(--opjects);
       border-radius: 5px;
}