:root {
    --text: #050505;
    --background: #fafafa;
    --primary: #80bcf5;
    --secondary: #d0e5fb;
    --accent: #1283ed;
    --https://realtimecolors.com/?colors=050505-fafafa-80bcf5-d0e5fb-1283ed:;
}