.icon-cloud-b {
    background-image: url('https://guuslab.com/GuuslabIconPack/icon-cloud-b.svg');
    width: 32px;
    height: 32px;
}

.icon-cloud-w {
    background-image: url('https://guuslab.com/GuuslabIconPack/icon-cloud-w.svg');
    width: 32px;
    height: 32px;
}