:root {
    --background: #ffffff;
    --backgroundtr: #ffffffaf;
    --30: #343434;
    --30tr: #343434af;
    /* --30: #588157; */
    --10: #415942; 
    --10tr: #415942af;
    --text: #333;
}

address, article, aside, div, footer, header, hgroup, main, nav, section {
    display: inline;
}  

body {
    background-color: var(--background);
    padding-top: 200px;
    margin: 0px;
}

.div {
  background-color: var(--30);
  border-radius: 15px;
  margin: 100px;
  padding: 100px;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: arial;
  margin-left: 30px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: var(--backgroundtr);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 100;
    
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    color: var(--text);
    background-color: var(--backgroundtr);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text);
}

  .nav-item a:hover {
    background-color: var(--text);
    color: var(--background);
    transition-duration: .5;
  }
  
  .nav-item a:not(:hover) {
    animation-name: revert-animation;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes revert-animation {
    from {
      background-color: var(--text);
      color: var(--background);
    }
    to {
      background-color: var(--backgroundtr);
      color: var(--text);
    }
  }