:root {
    --background: #eeeeee;
    --backgroundtr: #eeeeeeaf;
    --div: #c5d6f3;
    --divtr: #c5d6f3af;
    --main: #2b57b8; 
    --maintr: #2b57b8af;
    --text: #1f3358;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* als er gekke bug is */

/* address, article, aside, div, footer, header, hgroup, main, nav, section {
    display: inline;
}   */
/* -------------------------------------------------------- */
/* loading */
#loading-screen {
  opacity: 1;
  transition: opacity 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loading-bar {
  width: 60vw;
  height: 5vh;
  background-color: var(--div);
  border-radius: 50px;
  position: relative;
}

#loading-progress {
  width: 0;
  height: 100%;
  background-color: var(--text);
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transition: width 0.5s linear;
  transform: translateX(-50%);
}

#loading-text {
  color: white;
  mix-blend-mode: difference;  
  font-size: 25px;
  font-family: var(--font);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none; 
  transition: opacity 1s ease-out 0.5s; 
}

/* #loading-bar,
#loading-progress {
  transition: width 0.5s ease-in-out; 
} */


/* -------------------------------------------------------- */
/* basics */

* {
  transition: all ease-in-out .5s;
}

body {
    background-color: var(--background);
    padding-top: 15vh;
    margin: 0px;
}

canvas {
  border-radius: 30px;
}

pre {
  max-width: fit-content;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: var(--text);
  font-family: var(--font);
  text-align: center;
  transition: all ease-in-out .5s;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  font-family: var(--font);
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main);
  color: var(--background);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--main);
  transition: all ease-in-out .5s;
}

a button:hover {
  box-shadow: 0px 0px 20px var(--maintr);
  background-color: var(--maintr);
  color: #ffffff;
}

/* -------------------------------------------------------- */
/* custom */


.div {
  background-color: var(--div);
  border-radius: 30px;
  margin: 0 100px 100px 100px;
  padding: 40px 50px 50px 50px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 40px var(--div);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: var(--backgroundtr);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    z-index: 10;
}


.logo {
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    color: var(--text);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text);
}

  .nav-item a:hover {
    background-color: var(--text);
    color: var(--background);
    transition-duration: .5;
  }

.maintext {
  font-family: var(--font);
  margin-left: 30px;
  color: var(--main);
}

/* -------------------------------------------------------- */
/* mobile */

@media (max-width: 1000px){

  #loading-text {
    color: white;
    mix-blend-mode: difference;  
    font-size: 40px;
    font-family: var(--font);
    font-weight: bold;
    position: absolute;
    top: 50%;
  }

  .logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item a {
  font-size: 40px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.maintext {
font-size: 50px;
}
}